
# fastapi
# uvicorn
# python-dotenv
# groq
# langchain
# langchain-community
# pydantic


fastapi
pymongo
uvicorn
python-dotenv
groq
langgraph
langchain
redis
sqlalchemy
psycopg2-binary
python-jose
passlib
websockets
httpx
pydantic